<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .card {
            width: 100%;
            height: 200px;
            background: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .title {
            color: white;
        }

        .body {
            padding: 2rem
        }

        .body p {
            font-size: 20px;
            color: white
        }
    </style>
</head>
<body>
    <div class="card">
        <h2 class="title">{{test.title}}</h2>
        <div class="body">
            <p>{{test.body}}</p>
        </div>
    </div>
</body>
</html>